.details-section {
  background-color: cadetblue;
  height: 100vh;
  text-align: center;
  margin-top: 300px;
}
.personal-details {
  padding-top: 50px;
}
.extra-info {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  margin: 25px 30px;
  border-radius: 10px;
}
.all-break-btn {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  margin: 25px 30px;
  border-radius: 10px;
}
.break-btn {
  padding: 20px;
  border-radius: 50%;
  font-weight: 800;
}
