.details-section {
  background-color: cadetblue;
  height: 1000px;
  text-align: center;
  margin-top: 300px;
  margin-right: 40px;
  border-radius: 10px;
}
.personal-details {
  padding-top: 50px;
}
.extra-info {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  margin: 25px 30px;
  border-radius: 10px;
}
.all-break-btn {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  margin: 25px 30px;
  border-radius: 10px;
}
.break-btn {
  padding: 20px;
  border-radius: 50%;
  font-weight: 800;
}
.exercise-time-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  padding: 5px 35px;
  margin: 5px 25px;
  border-radius: 15px;
}
.break-time-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  padding: 5px 35px;
  margin: 20px 25px;
  border-radius: 15px;
}
.exercise-done-btn {
  margin-top: 50px;
  padding: 20px 100px;
  background-color: black;
  color: white;
  font-weight: 800;
  border-radius: 10px;
}

.exercise-done-btn:hover {
  background-color: darkgray;
}

